body {
    font-family: 'Nunito';
    background-color: #152d37;
}

.content-area {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 800px;
    border: none;
    text-align: left;
    word-wrap: break-word;
}